@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: League Spartan;
    src: url("../font/LeagueSpartan-Bold.otf") format("opentype");
}
body {
    background-color: var(--cinza-fundo);
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
nav, footer {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cinza-escuro);
}
nav {
    top: 0;
    height: 4.5vw;
    position: fixed;
}
nav ul, footer ul {
    right: 3vw;
    margin: 0;
    position: absolute;
    display: flex;
}
nav ul {
    gap: 2vw;
    justify-items: center;
}
nav ul li {
    font-size: 0.9vw;
    list-style: none;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 550;
    text-align: center;
}
nav ul li a, nav ul li a::before, nav ul li a::after, nav ul li a:visited {
    text-decoration: none;
    padding: 0.8vh 0.8vw;
    color: var(--amarelo);
}
nav ul li a:hover:not(.thisPag) {
    color: var(--white);
}
footer {
    bottom: 0;
    height: 8vh;
    position: relative;
    margin-top: auto;
}
footer ul {
    gap: 2vw;
}
footer ul li {
    list-style: none;
    font-size: 1.4vw;
}
footer span {
    text-align: center;
    color: var(--white);
    font-size: 0.68vw;
    font-family: 'Lexend Exa', sans-serif;
}
footer ul li a {
    text-decoration: none;
    color: var(--white);
}
footer ul li a:hover {
    color: var(--amarelo)
}

#saraivaLogo, #saraivaLogoBranco {
    position: absolute;
    width: 32.41vh;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
}
#saraivaLogo {
    left: 10vh;
    background-image: url(../images/logo.png);
    background-size: 55%;
}
#saraivaLogoBranco {
    position: absolute;
    left: 3vh;
    background-image: url(../images/logoBranco.png);
    background-size: 50%;
    height: 100%;
}
.thisPag {
    background-color: var(--cinza-interno);
    border-radius: 10px;
}
.fa-circle-half-stroke {
    font-size: 1.15vw;
    color: var(--amarelo);
}