<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre | Saraiva</title>
    <link rel="stylesheet" href="../css/sobre.css">
<body>
    <section>
            <div id="desc">
                <h2 class="titulosar" style="margin: 10% 0 0 0;">Sobre a Saraiva</h2>
                <p id="sobr">
                    Saraiva é uma rede brasileira de livrarias, fundada em 13 de dezembro de 1914 por Joaquim Inácio da Fonseca Saraiva, imigrante português de Trás-os-Montes, no centro da cidade de São Paulo. Em 2008 a empresa adquiriu a Livraria Siciliano e passou a ter 20% do mercado livreiro do Brasil.
                </p>
            </div>
            <div id="endereco">
                <div id="pt1">
                    <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3483.5771863712216!2d-51.22241978472721!3d-29.177129398438137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ea3005ac4fd4b%3A0x9db0cabeffcdaa07!2sSaraiva!5e0!3m2!1spt-BR!2sbr!4v1653601106809!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div id="pt2">
                    <h2 class="titulosar" style="margin: 0;">Endereço</h2>
                    <ul>
                        <li class="local">Rodovia RSC 453, 2780</li>
                        <br>
                        <li class="local">Caxias do Sul - RS</li>
                        <br>
                        <li class="local">CEP: 95110-900</li>
                    </ul>
                </div>
            </div>
    </section>
        <div id="sec">
            <div id="um">
                <i class="fa-solid fa-phone"></i>
                <span>(54) 3771-1202</span> 
            </div>
            <div id="dois">
                <i class="fa-solid fa-envelope"></i>
                <span>LivrariaSaraiva@gmail.com</span>
            </div>
        </div>
    <script src="../js/utils.js"></script>
</body>
</html>